<h3>
    Welcome to MyRoutes!
</h3>

{% if logged_in %}
    <p>
        You are connected to <strong>HikingRoutes.com</strong>. <a href="{{ path('myroutes_logout') }}">Remove connection</a>
    </p>
    <p>
        HikingRoutes has this info about you:
    </p>
    <p>
        <strong>Username:</strong> {{ userInfo.username }}<br />
        <strong>First name:</strong> {{ userInfo.first_name }}<br />
        <strong>Last name:</strong> {{ userInfo.last_name }}
    </p>
    <p>
        Your HikingRoutes account contains these routes:
    </p>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Distance</th>
            <th>Added on</th>
        </tr>
        {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td>{{ route.title }}</td>
                <td>{{ route.distance }}m</td>
                <td>{{ route.added_on }}</td>
            </tr>
        {% endfor %}

        {% if routes is empty %}
            <tr>
                <td colspan="4">You have no routes in your HikingRoutes account.</td>
            </tr>
        {% endif %}
    </table>

    <h3>API resources endpoints:</h3>
    <pre>
        curl {{ url('routes_index') }}?access_token={{ app.session.get('access_token') }}
        curl {{ url('user_me') }}?access_token={{ app.session.get('access_token') }}
        curl {{ url('user_user', {username: userInfo.username}) }}?access_token={{ app.session.get('access_token') }}
    </pre>
{% else %}
    <p>
        You have not connected with <strong>HikingRoutes</strong> yet. Please connect to be able
        to display your routes.
    </p>
    <p>
        <a href="{{ path('authentication_authorize') }}?response_type=code&client_id=myroutes&redirect_uri={{ url('myroutes_authorize')|url_encode() }}&state={{session_id}}">Connect with HikingRoutes.</a>
    </p>
{% endif %}
